
body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:#00000080;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

.hero{

margin-top:150px;

}

input{

padding:15px;
width:300px;
border-radius:20px;
border:none;

}

button{

padding:15px;
border-radius:20px;
border:none;
background:#00c6ff;
color:white;
cursor:pointer;

}
